<div class="podcast-episodes">
  <div class="current-episode">
    <img src="/km_km_portada.jpg" alt="KM a KM - Disfrutando del camino">
    <div class="current-details">
        <h2>Capítulo 6 - ¿Qué es una liebre en una carrera de atletismo?</h2>
        <p>KM a KM - Disfrutando del camino · 15 oct 2024</p>
        <audio controls>
            <source src="/cap-9-ed-withlock.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>
</div>
  <!-- Lista de episodios -->
  <div class="episode-list">
      <div class="episode-card" *ngFor="let episode of episodes" (click)="selectEpisode(episode)">
          <div class="image-container">
              <!--<img [src]="episode.image" alt="Imagen del episodio">-->
              <img [src]="'/km_km_portada.jpg'" alt="Imagen del episodio">
              <button (click)="selectEpisode(episode); $event.stopPropagation()" class="play-button">
                  ▶
              </button>
          </div>
          <div class="episode-details">
              <h3>{{ episode.title }}</h3>
              <p>{{ episode.description }}</p>
              <p class="date">{{ episode.date | date:'dd MMM yyyy' }}</p>
              <p class="duration">{{ episode.duration }}</p>
              <a href="#" class="btn-link">Ver más</a>
          </div>
      </div>
  </div>

  <!-- Barra de reproducción al estilo Spotify -->
  <div class="player-bar" *ngIf="selectedEpisode">
      <div class="player-info">
        <!--<img [src]="selectedEpisode.image" alt="Imagen del episodio">-->
        <img [src]="'/km_km_portada.jpg'" alt="Imagen del episodio">
          <div class="episode-details">
              <h4>{{ selectedEpisode.title }}</h4>
              <p>{{ selectedEpisode.date | date:'dd MMM yyyy' }}</p>
          </div>
      </div>
      <div class="player-controls">
          <button (click)="togglePlay()">{{ isPlaying ? '❚❚' : '▶' }}</button>
          <input type="range" min="0" [max]="totalTime" [value]="currentTime" (input)="seekAudio($event)">
          <span>{{ formatTime(currentTime) }}</span> / <span>{{ formatTime(totalTime) }}</span>
      </div>
  </div>

  
</div>